table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 10px solid rgba(105, 50, 5, 0.815);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}